absl-py==2.3.0
astroid==3.3.10
asttokens==3.0.0
astunparse==1.6.3
blinker==1.9.0
boto3==1.35.24
botocore==1.35.99
bqplot==0.12.45
branca==0.8.1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
dill==0.4.0
earthengine-api==1.5.17
eerepr==0.1.2
executing==2.2.0
Flask==3.0.3
flask-cors==6.0.0
flatbuffers==25.2.10
folium==0.19.6
fonttools==4.58.1
future==1.0.0
gast==0.6.0
geemap==0.35.3
geocoder==1.38.1
google-api-core==2.24.2
google-api-python-client==2.170.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
httplib2==0.22.0
idna==3.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.7
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.15
keras==2.14.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
ml-dtypes==0.2.0
narwhals==1.41.0
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==25.0
pandas==2.2.2
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
plotly==6.1.2
prompt_toolkit==3.0.51
proto-plus==1.26.1
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
Pygments==2.19.1
pylint==3.3.7
pyparsing==3.2.3
pyperclip==1.9.0
pyshp==2.3.1
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
ratelim==0.1.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
s3transfer==0.10.4
scikit-learn==1.6.1
scipy==1.15.3
scooby==0.10.1
six==1.17.0
stack-data==0.6.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
threadpoolctl==3.6.0
tomlkit==0.13.2
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
waitress==3.0.2
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.14.1
xyzservices==2025.4.0
